@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.login-with-google {
  box-shadow: 0px 4px 10px 0px #00000014;
}

.account-type-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid transparent;
  align-items: center;
  box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.account-type-container:hover {
  border-color: #3b82f6;
  background: #f5f9ff;
}

.form1-container {
  background-color: #fff;
  padding: 38px 32px;
}

.text-grey {
  color: "#8692A6";
}

body {
  overflow: hidden;
}

.submit-button {
  color: #ffffff;
  background-color: #1d4ed8;
  width: 420px;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1.125rem;
  padding: 12px;
  text-align: center;
  transition: background-color 0.3s, ring-color 0.3s;
}

.submit-button:hover {
  background-color: #1e40af;
}

.submit-button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(191, 219, 254, 0.5);
}

.submit-button.dark {
  background-color: #2563eb;
}

.submit-button.dark:hover {
  background-color: #1d4ed8;
}

.submit-button.dark:focus {
  box-shadow: 0 0 0 4px rgba(59, 130, 246, 0.5);
}

.input-error {
  border-color: #f87171;
  box-shadow: 0 0 0 1px #f87171;
  outline: none;
}

.input-error:focus {
  border-color: #f87171 !important;
  box-shadow: 0 0 0 1px #f87171 !important;
}

.input-error:focus-visible {
  border-color: #f87171 !important;
  box-shadow: 0 0 0 1px #f87171 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
